<form [formGroup]="insertForm">
   
  <div>
    <label for="title">
      Title
    </label>
    <input id="title" type="text" formControlName="title">
  </div>
  
  <div>
    <label for="body">
      Body
    </label>
    <input id="body" type="text" formControlName="body">
  </div>

  <div>
    <label for="statusName">
      Status
    </label>
    <input id="statusName" type="text" formControlName="statusName">
  </div>


  <div>
    <label for="categoryName">
      Category
    </label>
    <select id="categoryName" type="text" formControlName="categoryName">
      <option value="Aries">おひつじ座</option>
      <option value="Taurus">おうし座</option>
      <option value="Gemini">ふたご座</option>
    </select>
  </div>

  <button class="button" type="submit">Insert</button></form>
