/**
 * to-do list
 */

body {
  margin:   0;
  padding:  0;
}

.header {
  height:            70px;
  background-color:  #24292F;
  width:             100%;
}

.header .header__content {
  width:      1080px;
  margin:     auto;
}

.header .header__logo {
  color:             white;
  line-height:       70px;
  font-size:         20px;
  font-weight:       bold;
}

.main__list--RED {
  background-color: #FF7D7D;
}

.main__list--YELLOW {
  background-color: #FFD580;
}

.main__list--GREEN {
  background-color: #B3E284;
}

.main {
  width:      980px;
  margin:     100px auto;
  padding:    100px;
  box-shadow: 0 0 4px gray;
  position:   relative;
}

.success-message {
  margin:      30px 0;
  text-align:  center;
}


/******* フォームのinfoを非表示に *******/
.info {
  display: none;
}

td, th {
  padding: 5px 10px;
}

select {
  padding: 5px ;
}



