<h1>TODO Update</h1>
<ng-container *ngIf="todo">
  <form [formGroup]="updateForm"  (ngSubmit)="onTodoUpdateSubmit(updateForm.value)">
    <div>
      <label for="title">
        Title
      </label>
      <input id="title" type="text"  formControlName="title" size=30>
    </div>

    <div>
      <label for="body">
        Body
      </label>
      <textarea id="body" type="text" formControlName="body" cols=50 rows=3>
      </textarea>
    </div>

    <div>
      <label for="status">
        Status
      </label>
      <select id="status" type="text" formControlName="status" >
        <option value="0">TODO(着手前)</option>
        <option value="1">進行中</option>
        <option value="2">完了</option>
      </select>
    </div>

    <div>
      <label for="category">
        Category
      </label>
      <select id="category" type="text" formControlName="category" >
        <option *ngFor="let category of categories"  [value]="category.id">{{ category.name }}</option>
      </select>
    </div>

    <input type="hidden" formControlName="id">

    <button class="button" type="submit">UPDATE</button>
  </form>
</ng-container>
<button class="button" onclick="location.href='/todos/list'">BACK</button>  
