<p>todos works!</p>


<button class="mdl-button mdl-js-button mdl-js-ripple-effect" onclick="location.href='@controllers.todo.routes.TodoController.displayInsert'">
  <span class="material-icons">add_circle</span>Add 
</button>
<table class="mdl-data-table mdl-js-data-table">
  <tr>
    <th class="mdl-data-table__cell--non-numeric">Title</th>
    <th class="mdl-data-table__cell--non-numeric">Body</th>
    <th class="mdl-data-table__cell--non-numeric">Status</th>
    <th class="mdl-data-table__cell--non-numeric">Category</th>
    <th class="mdl-data-table__cell--non-numeric">Update</th>
    <th class="mdl-data-table__cell--non-numeric">Delete</th>
  </tr>
  <!--  @for(todo <- vv.todoList) { -->
  <tr>
    <td class="mdl-data-table__cell--non-numeric">title</td>
    <td class="mdl-data-table__cell--non-numeric">body</td>
    <td class="mdl-data-table__cell--non-numeric">statusName</td>
    <td class="mdl-data-table__cell--non-numeric main__list--@todo.categoryColor">categoryName</td>
    <td class="mdl-data-table__cell--non-numeric" >
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect" onclick="location.href='@controllers.todo.routes.TodoController.displayUpdate(todo.id)'">
        <span class="material-icons">update</span>
      </button>
    </td>
    <td class="mdl-data-table__cell--non-numeric" >
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect" onclick="location.href='@controllers.todo.routes.TodoController.delete(todo.id)'">
        <span class="material-icons">delete_forever</span>
      </button>
    </td>
  </tr>
  <!--  } -->
</table>
<button class="mdl-button mdl-js-button mdl-js-ripple-effect" onclick="location.href='@routes.HomeController.index'">
  <span class="material-icons">backspace</span> BACK
</button>  
