<a class="mdl-button mdl-js-button mdl-js-ripple-effect" routerLink="/todos/insert">
  <span class="material-icons">add_circle</span>Add 
</a>
<table class="mdl-data-table mdl-js-data-table">
  <tr>
    <th class="mdl-data-table__cell--non-numeric">Title</th>
    <th class="mdl-data-table__cell--non-numeric">Body</th>
    <th class="mdl-data-table__cell--non-numeric">Status</th>
    <th class="mdl-data-table__cell--non-numeric">Category</th>
    <th class="mdl-data-table__cell--non-numeric">Update</th>
    <th class="mdl-data-table__cell--non-numeric">Delete</th>
  </tr>
  <tr *ngFor="let todo of todos">
    <td class="mdl-data-table__cell--non-numeric">{{todo.title}}</td>
    <td class="mdl-data-table__cell--non-numeric">{{todo.body}}</td>
    <td class="mdl-data-table__cell--non-numeric">{{todo.statusName}}</td>
    <td class="mdl-data-table__cell--non-numeric main__list--{{todo.categoryColor}}">{{todo.categoryName}}</td>
    <td class="mdl-data-table__cell--non-numeric" >
      <a class="mdl-button mdl-js-button mdl-js-ripple-effect" routerLink="/todos/update/{{ todo.id }}">
        <span class="material-icons">update</span>
      </a>
    </td>
    <td class="mdl-data-table__cell--non-numeric" >
      <a class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="onTodoDeleteSubmit(todo.id)">
        <span class="material-icons">delete_forever</span>
      </a>
    </td>
  </tr>
</table>
<button class="mdl-button mdl-js-button mdl-js-ripple-effect" onclick="location.href='/'">
  <span class="material-icons">backspace</span> BACK
</button>  

