@*
*
* to do sample project
*
*@
@import lib.persistence.onMySQL.{TodoRepository, CategoryRepository}
@import lib.persistence.onMySQL.TodoRepository._
@import lib.persistence.onMySQL.CategoryRepository._

@import lib.model.Category.Color

@(vv: model.ViewValueCommon, todoList: Seq[TodoRepository.EntityEmbeddedId], categoryList: Seq[CategoryRepository.EntityEmbeddedId])
@common.Default(vv){
  <button class="mdl-button mdl-js-button mdl-js-ripple-effect" onclick="location.href='@controllers.todo.routes.TodoController.displayInsert'">
    <span class="material-icons">add_circle</span>Add 
  </button>
  <table class="mdl-data-table mdl-js-data-table">
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Title</th>
      <th class="mdl-data-table__cell--non-numeric">Body</th>
      <th class="mdl-data-table__cell--non-numeric">Status</th>
      <th class="mdl-data-table__cell--non-numeric">Category</th>
      <th class="mdl-data-table__cell--non-numeric">Update</th>
      <th class="mdl-data-table__cell--non-numeric">Delete</th>
    </tr>
    @for(todo <- todoList) {
    <tr>
      <td class="mdl-data-table__cell--non-numeric" >@todo.v.title</td>
      <td class="mdl-data-table__cell--non-numeric">@todo.v.body</td>
      <td class="mdl-data-table__cell--non-numeric">@todo.v.state.name</td>
      <td class="mdl-data-table__cell--non-numeric main__list--@todo.v.categoryId" >
        @categoryList.find(_.id == todo.v.categoryId) match {
          case Some(x) => {@x.v.name}
          case None => {-}
        }
       </td>
      <td class="mdl-data-table__cell--non-numeric" >
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" onclick="location.href='@controllers.todo.routes.TodoController.displayUpdate(todo.v.id.get)'">
        <span class="material-icons">update</span>
        </button>
      </td>
      <td class="mdl-data-table__cell--non-numeric" >
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" onclick="location.href='@controllers.todo.routes.TodoController.delete(todo.v.id.get)'">
        <span class="material-icons">delete_forever</span>
        </button>
      </td>
    </tr>
    }
  </table>
  <button class="mdl-button mdl-js-button mdl-js-ripple-effect" onclick="location.href='@routes.HomeController.index'">
    <span class="material-icons">backspace</span> BACK
  </button>  
}

