@*
*
* to do sample project
*
*@
@import controllers.todo.TodoUpdateFormData
@import persistence.persistence.onMySQL.{CategoryRepository, TodoRepository}
@import persistence.persistence.onMySQL.CategoryRepository._
@import persistence.persistence.onMySQL.TodoRepository._
@import helper._
@import model.todo.Todo.Status

@(vv: model.ViewValueCommon, todoForm: Form[TodoUpdateFormData], categoryList: Seq[CategoryRepository.EntityEmbeddedId])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@common.Default(vv){
  @helper.form(action = controllers.todo.routes.TodoController.update()) {
    @helper.CSRF.formField
    @helper.inputText(todoForm("title"),'_label -> "Title", 'size -> 40)
    @helper.textarea(todoForm("body"), '_label -> "Body", 'rows -> 3, 'cols -> 50)
    @helper.select(
      todoForm("status"),
      options = Status.values.map(i => (i.code.toString, i.name)),
      '_label -> "Status",
    )
    @helper.select(
      todoForm("categoryId"),
      options = categoryList.map(i => (i.v.id.get.toString, i.v.name)),
      '_label -> "Category",
    )

    <input type="hidden" value="@todoForm.data("id")" name="id">

    <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit" value="Update">
  }
  <button class="mdl-button mdl-js-button mdl-js-ripple-effect" onclick="location.href='@controllers.todo.routes.TodoController.list'">
    <span class="material-icons">backspace</span> BACK
  </button>  
}
